{% extends 'base.html' %}

{% block content %}
	<h3 class="d-block py-5 mx-auto">Authors</h3>

	{% if authors %}
		<ul>
			{% for author in authors %}
			<li>
				<a href="{% url 'books:author_details' author.pk %}">{{ author }}</a>
			</li>

			{% endfor %}
		</ul>
	{% else %}
		<p>No authors saved</p>
	{% endif %}

{% endblock %}