{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load comments %}


{% block content %}
	<h4 class="d-block py-5 mx-auto">Details for author: {{ author }}</h4>
	<div class="row">
		<div class="col-6">
			<h6>Books list:</h6>
			<ul>
				{% for book in author.book_set.all %}
					<li>
						<a href="{% url 'books:book_detail' book.pk %}">{{ book }}</a>
					</li>

				{% endfor %}
			</ul>
		</div>
		<div class="col-6">
			<h6>Author details:</h6>
			<table class="table table-hover">
				<tbody>
				<tr>
					<th scope="row">Name</th>
					<td>{{ author }}</td>
				</tr>
				<tr>
					<th scope="row">Birth date</th>
					<td>{{ author.birth_date|date:"D, d M Y" }}</td>
				</tr>
				<tr>
					<th scope="row">Website</th>
					<td>{{ author.website|urlize }}</td>
				</tr>
				<tr>
					<th scope="row">Email</th>
					<td>{{ author.email }}</td>
				</tr>
				<tr>
					<th scope="row">Rating</th>
					<td>{{ author.rating }}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row py-3 border-top-1 ">
		<div class="col">
			{% get_comment_count for author as comment_count %}
			<h4>Comments <span class="small">( {{ comment_count }} )</span></h4>
			{% get_comment_list for author as comment_list %}
			{% for comment in comment_list %}
				<blockquote class="blockquote border-left border-dark pl-2">
					<p class="mb-0 small">{{ comment.comment }}</p>
					<footer class="blockquote-footer">
{#						Added: {{ comment.submit_date|date:"D, d M Y" }}#}
						Added: {{ comment.submit_date|timesince }} ago by {{ comment.user_name }}
					</footer>
				</blockquote>
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col">
			{% get_comment_form for author as form %}
			<p>Add crispy comment:</p>
			<form action="{% comment_form_target %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ request.path }}"/>
				{{ form|crispy }}
				<tr>
					<td colspan="2">
						<input type="submit" name="submit" value="Post">
						<input type="submit" name="preview" value="Preview">
					</td>
				</tr>
			</form>

		</div>
	</div>
{% endblock %}