{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<h3 class="d-block py-5 mx-auto">Book details for "{{ book }}":</h3>
	<div class="row">
		<div class="col-6">
			{% if book.book_cover %}
				<img src="{{ book.book_cover.url }}" alt="Book cover"/>
			{% else %}
				&mdash;
			{% endif %}
		</div>
		<div class="col-6">
			<h6>Book details:</h6>
			<table class="table table-hover">
				<tbody>
				<tr>
					<th scope="row">Author</th>
					<td>{{ book.author }}</td>
				</tr>
				<tr>
					<th scope="row">Pages</th>
					<td>{{ book.pages|default_if_none:"&mdash;" }}</td>
				</tr>
				<tr>
					<th scope="row">Genre</th>
					<td>{% for genre in book.genres.all %}
						{{ genre }}
					{% empty %}
						&mdash;
					{% endfor %}</td>
				</tr>
				<tr>
					<th scope="row">Book rating</th>
					<td>
						{% if avg_ratings.average %}
							{{ avg_ratings.average|floatformat:2|default:"&mdash;" }}
						{% else %}
							&mdash;
						{% endif %}</td>
				</tr>
				<tr>
					<th scope="row">Ratings submitted</th>
					<td>
						{% if avg_ratings.count %}
							{{ avg_ratings.count|default:"&mdash;" }}
						{% else %}
							&mdash;
						{% endif %}
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row py-4">
		<div class="col-6">
			<div class="row d-flex justify-content-between">
				<div class="col-6">
					<h4>Book reviews:</h4>
				</div>
				<div class="col-6 d-flex justify-content-center">
					<a href="{% url 'reviews:add_review' book.pk %}">
						<span class="badge badge-primary p-2">Add book review</span>
					</a>
				</div>
				<div class="col">
					{% for review in book.review_set.published %}
						<blockquote class="blockquote border-left border-dark pl-2">
							<p class="mb-0 small">{{ review.content|safe }}</p>
							<footer class="blockquote-footer small">
								Added: {{ review.added|timesince }} ago by {{ review.user }}
							</footer>
						</blockquote>
					{% endfor %}
				</div>
			</div>


		</div>
		<div class="col-6">
			<p>Add your rating:</p>
			{% if request.user.is_authenticated %}
				<form method="post">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			{% else %}
				You must be logged in to add rating or your comment
			{% endif %}
		</div>
	</div>

{% endblock %}