{% extends 'base.html' %}

{% block content %}

	<h3 class="d-block py-5 mx-auto">Books</h3>

	{% if books %}
		<ul>
			{% for book in books %}
				<li>
					<a href="{% url 'books:book_detail' book.pk %}">{{ book }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No books saved</p>
	{% endif %}


{% endblock %}