{% extends 'base.html' %}

{% block content %}

	<h3 class="d-block py-5 mx-auto">Genres</h3>

	{% if genres %}
		<ul>
			{% for genre in genres %}
				<li>
					<a href="{% url 'books:genre_details' genre.pk %}">{{ genre }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No genres saved</p>
	{% endif %}

{% endblock %}