{% extends 'base.html' %}

{% block content %}
	<h3 class="d-block py-5 mx-auto">All books in {{ genre }}:</h3>

	<div class="row">
		<div class="col-6">
			<h6>Books list:</h6>
			<ul>
				{% for book in genres.book_set.all %}
					<li>
						<a href="{% url 'books:book_detail' book.pk %}">{{ book }}</a>
					</li>

				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}