<!DOCTYPE html>
<html lang="en">
<head>

	{% include 'head.html' %}

</head>
<body>

{% include 'navbar.html' %}

{% include 'carousel.html' %}

<div class="container">
	<div class="row">
		<div class="col">
			{% block content %}

			{% endblock %}
		</div>
	</div>
</div>


{% include 'footer.html' %}

</body>
</html>