<hr>
<div class="container p-4">
	<div class="row">
		<div class="col d-flex flex-column align-items-center justify-content-center">
			<div class="small">Created by
				Grzegorz Lason</div>
			<div class="small">Copyright reserved</div>
		</div>
	</div>
</div>