{% load static %}

<meta charset="UTF-8">
<title>{% if title %}Books Reviews &bull; {{ title }}{% else %}Books Review
	s{% endif %}</title>

<link rel="stylesheet" href="{% static 'books/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'books/css/custom_bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'books/css/styles.css' %}">