<div class="container">
	<div class="row">
		<div class="col">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{% url 'books:index' %}">Books
					Reviews</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link"
							   href="{% url 'books:books_list' %}">Books<span
									class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"
							   href="{% url 'books:authors_list' %}">Authors</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link"
							   href="{% url 'books:genres_list' %}">Genres</a>
						</li>
						<li class="nav-item active">
							{% if request.user.is_authenticated %}
								<a class="nav-link"
								   href="{% url 'reviews:reviews_list' %}">Your reviews</a>
							{% endif %}
						</li>
					</ul>
					<div class="d-block pl-2">
						{% if request.user.is_authenticated %}
							<button class="btn btn-outline-success my-2 my-sm-0"
							        type="button"
							        data-toggle="collapse">
								<a href="{% url 'logout' %}">Log Out</a>
							</button>
						{% else %}
							<button class="btn btn-outline-success my-2 my-sm-0"
							        type="button"
							        data-toggle="collapse">
								<a href="{% url 'login' %}">Log In</a>
							</button>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>