{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<h3 class="d-block py-5 mx-auto">Edit your review</h3>

	<form method="POST">
		{% csrf_token %}

		{{ form|crispy }}
		<button type="submit">Update</button>

	</form>




{% endblock %}