{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<h3 class="d-block py-5 mx-auto">Reviews</h3>

	<form method="POST" action="#">
		{% csrf_token %}

		{{ form|crispy }}
		<button type="submit">Submit</button>

	</form>




{% endblock %}