{% extends 'base.html' %}

{% block content %}

	<h3 class="d-block py-5 mx-auto">Your reviews</h3>

	<table class="table table-hover">
		<thead>
		<tr>
			<th scope="col">Book</th>
			<th scope="col">Subject</th>
			<th scope="col">Content</th>
			<th scope="col">Rating</th>
			<th scope="col">Status</th>
			<th scope="col">Updated</th>
			<th scope="col">Actions</th>
		</tr>
		</thead>
		{% for review in reviews %}
			<tr>
				<td>{{ review.book }}</td>
				<td>{{ review.subject|safe }}</td>
				<td>{{ review.content|safe }}</td>
				<td>{{ review.rating }}</td>
				<td>{{ review.status }}</td>
				<td>{{ review.updated|date:"d M Y" }}</td>
				<td>
					<form method="POST" action="{% url 'reviews:delete_review' review.book.id review.id %}">
						{% csrf_token %}
						<button type="submit" class="badge badge-primary border-0">Delete</button>
					</form>
					<form method="POST" action="{% url 'reviews:edit_review' review.book.id review.id %}">
						{% csrf_token %}
						<button type="submit" class="badge badge-primary border-0">Edit</button>
					</form>
					<form method="POST" action="{% url 'reviews:publish_review' review.book.id review.id %}">
						{% csrf_token %}
						<button type="submit" class="badge badge-primary border-0">Publish</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>

{% endblock %}